* {margin: 0; padding: 0;}
body {margin: 1em;}
hr {margin: 1em;}

h3 {color: red; font-weight: normal;}
table {text-align: center; background-color: #ccc; margin: 0.5em;}
table * {padding: 0.5em;}
th {background-color: #ccc;}
tr {background-color: #f0f0ff;}
ul {columns: 3; margin: 0.5em;}
ul li {list-style: none; padding: 0.5em; border: 3px solid #ccc; background-color: #f0f0ff; margin: 0.5em;}